<script setup></script>
<template>
  <div class="u-bg-slate-800">
    <div class="u-container u-mx-auto">
      <div class="u-w-full"></div>
      <div
        class="u-w-full u-flex u-items-center u-justify-between u-py-8 u-border-0 u-border-t-1 u-border-t-slate-400"
      >
        <div class="u-flex">
          <a href="#" class="footer-social-link"><i class="mdi mdi-instagram"></i></a>
          <a href="#" class="footer-social-link"><i class="mdi mdi-youtube"></i></a>
          <a href="#" class="footer-social-link"><i class="mdi mdi-facebook"></i></a>
        </div>
        <div class="u-text-slate-400">
          {{ `${new Date().getFullYear()}` }} &copy; Bardfy. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.footer-social-link {
  @apply u-w-9 u-h-9 u-rounded-full u-flex u-items-center u-justify-center u-border-1 u-border-slate-400 u-text-slate-400 u-text-lg;
  @apply u-mr-2 u-hover:text-white u-hover:border-white;
}
</style>
