<script setup></script>
<template>
  <div class="u-h-screen demo">
    <div
      class="u-container u-h-screen u-flex u-flex-col u-mx-auto u-items-center u-justify-around u-pt-[60px] u-md:pt-[90px]"
    >
      <div
        class="text-urbanist u-text-2xl u-md:text-5xl u-font-bold u-text-center u-md:text-left"
      >
        We help you create immersions through sounds
      </div>
      <div>
        <button
          class="animate__animated animate__infinite animate__slower animate__delay-2s animate__rubberBand demo-button"
          type="button"
        >
          Click me and turn on the Immersion!
        </button>
      </div>
      <div class="u-w-full u-flex u-flex-wrap u-px-2">
        <div class="u-w-full u-flex u-flex-wrap u-pa-2 u-relative">
          <div class="u-flex u-items-center u-basis-1/4">
            <q-avatar color="teal" text-color="white" icon="mdi-directions" />
          </div>
          <div class="u-basis-3/4">
            <div class="u-relative">
              <div class="u-absolute u-mt-[-50px]">teste</div>
              <q-linear-progress :value="0.5" size="50px" rounded />
            </div>
          </div>
        </div>
        <div class="u-w-full u-flex u-flex-wrap u-pa-2">
          <div class="u-flex u-items-center u-basis-1/4">
            <q-avatar color="teal" text-color="white" icon="mdi-directions" />
          </div>
          <div class="u-basis-3/4">
            <q-linear-progress :value="0.5" size="50px" rounded />
          </div>
        </div>
        <div class="u-w-full u-flex u-flex-wrap u-pa-2">
          <div class="u-flex u-items-center u-basis-1/4">
            <q-avatar color="teal" text-color="white" icon="mdi-directions" />
          </div>
          <div class="u-basis-3/4">
            <q-linear-progress :value="0.5" size="50px" rounded />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="postcss">
.demo {
  background-image: linear-gradient(90deg, #fffcfc, #eeecec);
}
.demo-button {
  @apply u-flex-none u-item-center u-bg-[#00375F] u-text-white u-border-0 u-rounded-full u-text u-text-2xl u-px-6 u-py-3;
}
</style>
