<script setup></script>
<template>
  <div class="u-h-screen u-bg-[#006AB8]">
    <div
      class="u-container u-h-screen u-flex u-flex-col u-mx-auto u-items-center u-justify-around u-pt-[60px] u-md:pt-[90px]"
    ></div>
  </div>
</template>
<style lang="postcss"></style>
