<script setup>
const animate = ref(false);

onMounted(() => {
  setTimeout(() => {
    animate.value = true;
  }, 1000);
});
</script>
<template>
  <div
    class="u-bg-[#00375F] u-h-screen u-relative u-pt-[60px] u-md:pt-[90px] u-overflow-hidden"
  >
    <div
      id="sky-top"
      style="--animate-duration: 1s"
      class="u-h-full u-bg-[#006AB8] u-bottom-0 u-w-full u-absolute animate__animated animate__bounceInUp"
    ></div>
    <div
      id="grass"
      style="--animate-duration: 1s"
      class="u-bg-[#E7D329] u-h-[10%] u-bottom-0 u-absolute u-w-full animate__animated animate__bounceInUp"
    ></div>
    <img src="../../assets/images/landing-page/cloud.svg" class="cloud-in cloud-1x" />
    <img src="../../assets/images/landing-page/cloud.svg" class="cloud-out cloud-1x" />

    <img src="../../assets/images/landing-page/cloud.svg" class="cloud-in cloud-2x" />
    <img src="../../assets/images/landing-page/cloud.svg" class="cloud-out cloud-2x" />

    <img src="../../assets/images/landing-page/cloud.svg" class="cloud-in cloud-3x" />
    <img src="../../assets/images/landing-page/cloud.svg" class="cloud-out cloud-3x" />

    <img src="../../assets/images/landing-page/cloud.svg" class="cloud-in cloud-4x" />
    <img src="../../assets/images/landing-page/cloud.svg" class="cloud-out cloud-4x" />

    <div
      class="u-container hero-chars u-mx-auto u-h-full u-relative u-flex flex-col u-items-start u-md:items-center"
    >
      <div class="u-basis-full u-md:basis-2/5 u-pa-3">
        <h1
          class="u-text-white u-text-2xl u-md:text-5xl u-font-bold u-text-center u-md:text-left"
        >
          Sound effects that take your immersion to a new level!
        </h1>
        <p class="u-text-xs u-md:text-xl u-text-[#b6e0ff] u-hidden u-md:block u-mb-12">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. In est quis autem
          tempore, debitis qui dolorem repellendus.
        </p>
        <button type="button" class="hero-button">
          <i class="mdi mdi-flag-checkered"></i>
          Get started now!
        </button>
      </div>
      <div
        class="u-absolute u-h-1/2 u-w-full u-md:w-1/2 u-right-0 u-bottom-[5%] u-px-2 u-md:pa-0"
      >
        <div class="u-relative u-h-full u-w-full hero-wrap">
          <div
            class="shadow animate__animated animate__bounceInUp animate__delay-1s"
          ></div>
          <img
            src="../../assets/images/landing-page/hero.svg"
            class="hero animate__animated animate__bounceInUp animate__delay-1s"
          />
          <img
            src="../../assets/images/landing-page/troll.svg"
            class="troll animate__animated animate__bounceInUp"
          />
          <img
            src="../../assets/images/landing-page/robot.svg"
            class="robot u-invisible u-md:visible animate__animated animate__bounceInUp"
          />
          <img
            src="../../assets/images/landing-page/fairy.svg"
            class="fairy animate__animated animate__bounceInUp"
          />
          <img
            src="../../assets/images/landing-page/knight.svg"
            class="knight animate__animated animate__bounceInUp"
          />
          <img
            src="../../assets/images/landing-page/skeleton.svg"
            class="skeleton u-invisible u-md:visible animate__animated animate__bounceInUp"
          />
          <img
            src="../../assets/images/landing-page/wizard.svg"
            class="wizard animate__animated animate__bounceInUp"
          />
          <img
            src="../../assets/images/landing-page/20s-hero.svg"
            class="old-hero u-invisible u-md:visible animate__animated animate__bounceInUp"
          />
          <img
            src="../../assets/images/landing-page/vampire.svg"
            class="vampire animate__animated animate__bounceInUp"
          />
          <img
            src="../../assets/images/landing-page/wolf.svg"
            class="wolf animate__animated animate__bounceInUp"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="postcss">
.hero-chars img {
  @apply u-absolute u-bottom-0;
  animation-duration: 1s;
}

.hero-button {
  @apply u-cursor-pointer transition-all ease-in-out u-text-white u-text-2xl u-border-solid u-border-2 u-border-white u-bg-transparent u-w-full u-px-3 u-py-3 u-rounded-full;
  @apply u-hover:bg-white u-hover:transition-all hover:ease-in-out u-hover:text-[#006AB8];
}

.shadow {
  position: absolute;
  width: 100%;
  height: 3%;
  bottom: -1.5%;
  background-color: #bbab25;
  border-radius: 50%;
}

.hero {
  max-height: 25%;
  animation-delay: 0s;
  right: 0;
  top: -10%;
}

.troll {
  height: 100%;
  max-width: 100%;
  animation-delay: 0.1s;
  right: 0;
}

.robot {
  height: 100%;
  animation-delay: 0.2s;
}

.fairy {
  height: 20%;
  animation-delay: 0.3s;
  top: -5%;
}

.knight {
  height: 60%;
  left: 40%;
  animation-delay: 0.4s;
}

.skeleton {
  height: 60%;
  left: 20%;
  animation-delay: 0.5s;
}

.wizard {
  height: 60%;
  left: -10%;
  animation-delay: 0.6s;
}

.old-hero {
  height: 60%;
  right: 25%;
  animation-delay: 0.7s;
}

.vampire {
  height: 60%;
  right: 10%;
  animation-delay: 0.8s;
}

.wolf {
  height: 35%;
  right: 0;
  animation-delay: 0.9s;
}

.cloud-in {
  position: absolute;
  -webkit-animation: cloud-in 20s linear infinite;
  -moz-animation: cloud-in 20s linear infinite;
  -o-animation: cloud-in 20s linear infinite;
}

.cloud-out {
  position: absolute;
  -webkit-animation: cloud-out 20s linear infinite;
  -moz-animation: cloud-out 20s linear infinite;
  -o-animation: cloud-out 20s linear infinite;
}

@keyframes cloud-in {
  0% {
    left: 100%;
  }
  100% {
  }
}
@keyframes cloud-out {
  0% {
  }
  100% {
    left: -100%;
  }
}

.cloud-1x {
  left: 20px;
  top: 10%;
}

.cloud-2x {
  left: 200px;
  top: 20%;
  height: 1%;
  animation-duration: 30s;
}

.cloud-3x {
  left: 310px;
  top: 35%;
  height: 4%;
  animation-duration: 40s;
}

.cloud-4x {
  left: 680px;
  top: 40%;
  height: 3%;
  animation-duration: 50s;
}
</style>
