<script setup></script>
<template>
  <div class="u-bg-[#00375F] u-fixed u-w-full u-h-[60px] u-md:h-[90px] u-z-[999]">
    <nav
      class="u-container u-mx-auto u-flex u-h-full u-flex-row u-items-center u-justify-between u-py-2 u-px-1 u-sm:py5 text-urbanist"
    >
      <q-btn round flat class="text-white lt-sm" icon="mdi-menu" @click="menu = !menu" />
      <span class="text-white u-text-4xl u-font-bold">BARDFY</span>
      <div class="gt-xs row">
        <q-btn
          to
          rounded
          flat
          label="Home"
          class="text-white text-capitalize u-text-xl"
        />
        <q-btn
          to
          rounded
          flat
          label="Why Bardfy?"
          class="text-white text-capitalize u-text-xl"
        />
        <q-btn
          to
          rounded
          flat
          label="Features"
          class="text-white text-capitalize u-text-xl"
        />
        <q-btn
          to
          rounded
          flat
          label="Is it free?"
          class="text-white text-capitalize u-text-xl"
        />
        <q-btn
          to
          rounded
          flat
          label="Blog"
          class="text-white text-capitalize u-text-xl"
        />
      </div>
      <div>
        <q-btn
          to="/app/sounds/medieval"
          rounded
          color="primary"
          unelevated
          label="Login"
          class="text-white text-capitalize u-md:text-xl"
        />
      </div>
    </nav>
  </div>
</template>
