<script setup>
const menu = ref(false);
</script>
<template>
  <landing-page-nav></landing-page-nav>
  <landing-page-hero></landing-page-hero>
  <landing-page-demo></landing-page-demo>
  <landing-page-features></landing-page-features>
  <landing-page-footer></landing-page-footer>
</template>
<style lang="scss"></style>
<route lang="yaml">
meta:
  layout: empty
</route>
