<script setup>
const props = defineProps({
    sound: { src: String, icon: String, label: String }
});

const isInsideImmersionArea = ref(false);
const isFade = ref(false);
const isPlayEvery = ref(false);

const playEveryFrequency = ref(0);
const playEveryRemaining = ref(0);

const volume = ref(100);
const playbackTime = ref("00:00");
const playbackPercentage = ref(0);

const sound = ref(
    new Howl({
        src: props.sound.src,
        onplay: () => {
            updatePlaybackPercentage();
            updatePlaybackTime();
        },
        onload: () => {
            playbackTime.value = formatTime(sound.value.duration());
        },
        onend: () => {
            updatePlayEveryCountdown();
        },
    })
);

const playEveryCountdown = computed(() => {
    return formatTime(playEveryRemaining.value);
});

function formatTime(seconds) {
    return moment.utc(moment.duration(seconds, "seconds").asMilliseconds()).format("mm:ss");
}

function playEvery(frequency) {
    isInsideImmersionArea.value = true;
    if (frequency) {
        isPlayEvery.value = true;
        playEveryFrequency.value = frequency;
        playEveryRemaining.value = frequency / 1000;
    }
    if (isPlayEvery.value) {
        play();
        setTimeout(playEvery, playEveryFrequency.value + sound.value.duration() * 1000);
    }
}

function updatePlayEveryCountdown() {
    if (isPlayEvery) {
        if (sound.value.playing()) {
            playEveryRemaining.value = playEveryFrequency.value / 1000;
        } else {
            playEveryRemaining.value--;
            setTimeout(updatePlayEveryCountdown, 1000);
        }
    }
}

function play() {
    isInsideImmersionArea.value = true;
    if (isFade.value) {
        sound.value.volume(0);
        sound.value.play();
        sound.value.fade(0, volume.value, 2000);
    } else {
        sound.value.play();
    }
}

function stop() {
    isPlayEvery.value = false;
    if (isFade.value) {
        sound.value.fade(volume.value, 0, 2000);
        setTimeout(() => {
            sound.value.stop();
        }, 2000);
    } else {
        sound.value.stop();
    }
}

function loop() {
    sound.value.loop(!sound.value.loop());
}

function fade() {
    isFade.value = !isFade.value;
}

function addToImmersionArea(playing, loop) {
    isInsideImmersionArea.value = true;
    if (playing) {
        play();
    }
    if (loop) {
        sound.value.loop(true);
    }
}

function removeFromImmersionArea() {
    debugger;
    isInsideImmersionArea.value = false;
    stop();
}

function updatePlaybackPercentage() {
    let duration = sound.value.duration() || 0;
    let seek = sound.value.seek() || 0;
    playbackPercentage.value = Math.round(seek * 100) / duration;
    if (sound.value.playing()) {
        requestAnimationFrame(updatePlaybackPercentage);
    }
}

function updatePlaybackTime() {
    let timeLeft = sound.value.duration() - sound.value.seek();
    playbackTime.value = formatTime(timeLeft);
    if (sound.value.playing()) {
        requestAnimationFrame(updatePlaybackTime);
    }
}

watch(volume, (newVol) => {
    return sound.value.volume(newVol / 100);
});
</script>
<template>
    <teleport to="#sound-list" :disabled="!isInsideImmersionArea">
        <q-card style="width: 130px" bordered flat>
            <q-card-actions align="center">
                <q-btn
                    flat
                    icon="mdi-dots-vertical"
                    class="absolute"
                    style="top: 1px; right: 1px"
                    size="sm"
                >
                    <q-menu anchor="bottom right">
                        <q-list dense style="min-width: 100px">
                            <q-item clickable v-close-popup>
                                <q-item-section>Play com reverb</q-item-section>
                            </q-item>
                            <q-item clickable>
                                <q-item-section>Tocar a cada...</q-item-section>
                                <q-item-section side>
                                    <q-icon name="mdi-chevron-right" />
                                </q-item-section>

                                <q-menu anchor="top end" self="top start">
                                    <q-list>
                                        <q-item
                                            v-for="n in 3"
                                            :key="n"
                                            dense
                                            clickable
                                            v-close-popup
                                            @click="playEvery(n * 15 * 1000)"
                                        >
                                            <q-item-section>{{ n * 15 }} segundos</q-item-section>
                                        </q-item>
                                        <q-item
                                            v-for="n in 4"
                                            :key="n"
                                            dense
                                            clickable
                                            v-close-popup
                                            @click="playEvery(n * 60 * 1000)"
                                        >
                                            <q-item-section>{{ n * 1 }} minuto{{ n > 1 ? "s" : "" }}</q-item-section>
                                        </q-item>
                                        <q-item dense clickable v-close-popup>
                                            <q-item-section>Definir...</q-item-section>
                                        </q-item>
                                    </q-list>
                                </q-menu>
                            </q-item>
                            <q-item
                                clickable
                                v-if="isInsideImmersionArea"
                                @click="removeFromImmersionArea()"
                            >
                                <q-item-section>Remover</q-item-section>
                                <q-item-section side>
                                    <q-btn flat icon="mdi-trash-can-outline" size="sm" />
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </q-menu>
                </q-btn>
                <q-circular-progress
                    :value="playbackPercentage"
                    :animation-speed="1"
                    class="q-mt-sm"
                    :min="0"
                    :max="100"
                    show-value
                    size="50px"
                    :thickness="0.15"
                    color="red"
                    track-color="grey-3"
                >
                    <q-avatar size="50px">
                        <q-icon :name="props.sound.icon" :class="{ pulse: sound.playing() }" />
                    </q-avatar>
                </q-circular-progress>
            </q-card-actions>
            <q-card-section class="q-pa-none" align="center">
                <div class="text-grey">
                    {{ playbackTime }}
                    <span v-if="isPlayEvery">
                        / {{ playEveryCountdown }}
                        <q-btn
                            flat
                            v-if="isPlayEvery"
                            icon="mdi-timer-sand-empty"
                            size="sm"
                            :color="sound.loop() ? 'red-10' : ''"
                            @click="isPlayEvery = false"
                        />
                    </span>
                </div>
            </q-card-section>
            <q-card-section class="q-pa-sm" align="center">{{ props.sound.label }}</q-card-section>
            <q-card-actions align="center" class="q-pa-none" v-if="!isInsideImmersionArea">
                <q-btn flat icon="mdi-play-outline" size="sm" @click="addToImmersionArea(true)" />
                <q-btn flat icon="mdi-repeat" size="sm" @click="addToImmersionArea(true, true)" />
                <q-btn flat ed icon="mdi-layers-plus" size="sm" @click="addToImmersionArea()" />
            </q-card-actions>
            <q-card-actions align="center" class="q-px-none" v-if="isInsideImmersionArea">
                <q-btn flat icon="mdi-stop" size="sm" @click="stop()" v-if="sound.playing()" />
                <q-btn flat icon="mdi-play" size="sm" @click="play()" v-if="!sound.playing()" />
                <q-btn
                    :color="sound.loop() ? 'red-10' : ''"
                    flat
                    icon="mdi-repeat"
                    size="sm"
                    @click="loop()"
                />
                <q-btn
                    flat
                    icon="mdi-sine-wave"
                    size="sm"
                    :color="isFade ? 'red-10' : ''"
                    @click="fade()"
                />
            </q-card-actions>
            <q-card-actions align="center">
                <q-slider
                    :min="0"
                    :max="100"
                    color="red"
                    thumb-size="6px"
                    track-size="2px"
                    v-model="volume"
                ></q-slider>
            </q-card-actions>
            <q-card-actions class="bg-grey-2 inset-shadow-down q-pa-none">
                <q-slide-transition :appear="false">
                    <div v-show="showEffects">
                        <div class="q-pa-sm">
                            <q-btn
                                flat
                                icon="mdi-repeat"
                                size="sm"
                                :color="sound.loop() ? 'red-10' : ''"
                                @click="loop()"
                            />
                            <q-btn
                                flat
                                icon="mdi-repeat"
                                size="sm"
                                :color="sound.loop() ? 'red-10' : ''"
                                @click="loop()"
                            />
                        </div>
                    </div>
                </q-slide-transition>
            </q-card-actions>
        </q-card>
    </teleport>
</template>

<style></style>
