<template>
  <q-layout
    view="lHh lpR lFf"
    class="bg-grey-1"
  >
    <q-header>
      <q-toolbar class="bg-grey-1 text-grey-9">
        <q-btn
          dense
          flat
          round
          icon="mdi-menu"
          class="lt-sm"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title />

        <q-btn
          dense
          flat
          round
          icon="mdi-bell"
          @click="toggleLeftDrawer"
        />
        <q-avatar>
          <img src="https://cdn.quasar.dev/img/avatar.png">
        </q-avatar>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      side="left"
      bordered
    >
      <div class="row q-pa-md">
        <q-btn
          outline
          color="light-blue"
          icon="mdi-heart"
          label="Donate to Bardfy"
          class="full-width text-capitalize"
        />
      </div>
      <q-list
        padding
        class="text-weight-light text-grey-14"
      >
        <q-item
          v-ripple
          clickable
        >
          <q-item-section avatar>
            <q-avatar icon="mdi-view-dashboard-outline" />
          </q-item-section>
          <q-item-section>Página inicial</q-item-section>
        </q-item>
        <q-item
          v-ripple
          clickable
        >
          <q-item-section avatar>
            <q-avatar icon="mdi-trending-up" />
          </q-item-section>
          <q-item-section>Tendências</q-item-section>
        </q-item>
        <q-item-label
          class="q-mt-sm"
          header
        >
          Sound Effects <i class="mdi mdi-volume-high" />
        </q-item-label>
        <q-item
          v-ripple
          clickable
        >
          <q-item-section avatar>
            <q-avatar icon="mdi-tablet-dashboard" />
          </q-item-section>
          <q-item-section>My ambients</q-item-section>
        </q-item>

        <q-item
          v-ripple
          clickable
        >
          <q-item-section avatar>
            <q-avatar icon="mdi-shield-sword-outline" />
          </q-item-section>
          <q-item-section>Medieval</q-item-section>
        </q-item>
        <q-item
          v-ripple
          clickable
        >
          <q-item-section avatar>
            <q-avatar icon="mdi-coffin" />
          </q-item-section>
          <q-item-section>Vampire</q-item-section>
        </q-item>
        <q-item
          v-ripple
          clickable
        >
          <q-item-section avatar>
            <q-avatar icon="mdi-robot-angry" />
          </q-item-section>
          <q-item-section>Futuristic</q-item-section>
        </q-item>
        <q-item
          v-ripple
          clickable
        >
          <q-item-section avatar>
            <q-avatar icon="mdi-skull-scan-outline" />
          </q-item-section>
          <q-item-section>20´s Horror</q-item-section>
        </q-item>
        <q-item
          v-ripple
          clickable
        >
          <q-item-section avatar>
            <q-avatar icon="mdi-dots-horizontal" />
          </q-item-section>
          <q-item-section>More ambients</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-drawer
      v-model="rightDrawerOpen"
      side="right"
      bordered
    >
      <!-- drawer content -->
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
const leftDrawerOpen = ref(false)
const rightDrawerOpen = ref(false)

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value
}

</script>
