<script setup>

const tab = ref('mails');
const mounted = ref(false)

const sounds = [
    {
        label: "Chuva média",
        icon: "mdi-weather-pouring",
        src: "/sounds/rain.mp3",
        volume: 100,
    },
    {
        label: "Chuva média",
        icon: "mdi-weather-pouring",
        src: "/src/sounds/rain.mp3",
        volume: 100,
    },
    {
        label: "Chuva média",
        icon: "mdi-weather-pouring",
        src: "/sounds/rain.mp3",
        volume: 100,
    },
    {
        label: "Chuva média",
        icon: "mdi-weather-pouring",
        src: "/sounds/rain.mp3",
        volume: 100,
    },
    //   { label: "Vento", icon: "mdi-weather-windy", src:"http://cd.textfiles.com/cdaction/cdaction27a/FIFTH/WAV/_WIND2.WAV", volume: 100 },
    //   { label: "Grilos", icon: "mdi-ladybug", src: "http://sfxcontent.s3.amazonaws.com/soundfx/Crickets.mp3", volume: 100 },
    //   {
    //     label: "Floresta noturna",
    //     icon: "mdi-weather-night",
    //     src: "http://koo.corpus.cam.ac.uk/naturesound/waves/JUNGLE.WAV",
    //     volume: 100,
    //   },
    //   {
    //     label: "Cachoeira",
    //     icon: "mdi-waves",
    //     src: "http://people.hws.edu/nruth/images/stdtwork/waterfalls/waterfall3.wav",
    //     volume: 100
    //   }  
];

onMounted(() => {
    mounted.value = true;
})
</script>
<template>
        <div class="u-container u-mx-auto u-flex u-flex-col u-px-3">
            <h2 class="text-h4 q-my-sm">Soundboard Medieval</h2>
            <p class="text-grey-7 text-body2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="u-container u-mx-auto u-flex u-mt-1 u-px-3">
            <span class="text-overline">Main soundtrack</span>
        </div>
        <div class="u-isolate u-container u-mx-auto u-flex u-flex-row u-mt-2 u-pa-3 bg-grey-4">
            <div class="u-flex u-flex-row u-gap-3" id="sound-list" style="min-height: 226px">
            </div>
        </div>

        <div class="u-container u-mx-auto u-flex u-flex-row u-items-center justify-end u-px-3 u-mb-3 u-mt-10 ">
            <q-btn flat rounded label="Ordenar por:" icon-right="mdi-chevron-down" class="q-mr-sm">
                <q-menu>
                    <q-list style="min-width: 100px">
                        <q-item clickable v-close-popup>
                            <q-item-section>Tipo</q-item-section>
                        </q-item>
                        <q-item clickable v-close-popup>
                            <q-item-section>Tamanho</q-item-section>
                        </q-item>
                        <q-item clickable v-close-popup>
                            <q-item-section>Frequencia de uso</q-item-section>
                        </q-item>
                    </q-list>
                </q-menu>
            </q-btn>

            <q-input rounded dense outlined>
                <template v-slot:append>
                    <q-icon name="mdi-magnify" />
                </template>
            </q-input>
        </div>

        <div class="u-container u-mx-auto u-flex u-flex-row u-items-center u-mt-3">
            <q-card class="u-w-full">
                <q-card-section class="q-pa-none">
                    <q-tabs v-model="tab">
                        <q-tab name="mails" icon="mdi-axe-battle" label="Heroes" />
                        <q-tab name="alarms" icon="mdi-ghost" label="NPC´s" />
                        <q-tab name="tavern" icon="mdi-glass-mug" label="Tavern" />
                        <q-tab name="dungeon" icon="mdi-tunnel" label="Dungeon" />
                        <q-tab name="harbor" icon="mdi-anchor" label="Harbor" />
                        <q-tab name="forest" icon="mdi-forest" label="Forest" />
                        <q-tab name="mountain" icon="mdi-terrain" label="Mountain" />
                    </q-tabs>
                </q-card-section>
                <q-card-section  v-if="mounted">
                    <div class="u-flex u-flex-row u-gap-3 u-flex-wrap">
                        <sound-effect-player v-for="(sound, index) in sounds" :sound="sound" :key="index" />
                    </div>
                </q-card-section>
            </q-card>
        </div>

</template>
